p.h1{
    color:hsl(233, 8%, 79%);
    font-weight:700;
    size:20px;
}
p.h2{
    color:hsl(240, 100%, 5%);
    font-weight:700;
    font-size:20px;
}
p.p2{
   color:hsl(236, 13%, 42%);
   font-weight:400;
   font-size:15px;
}