.New{
    background-color: hsl(240, 100%, 5%);
    color:hsl(36, 100%, 99%);
    padding-left:10%;
    padding-right:12%;

}
.heading{
    font-weight:700;
    color:hsl(35, 77%, 62%);
    
}
.head1{
    font-size:55px;
    font-weight:700;
    color:hsl(240, 100%, 5%)
}
@font-face{
    font-family:Inter-Bold;
    src: url(C:\Users\Administrator\vite-project1\src\assets\fonts\static\Inter-Bold.ttf);
}
@font-face{
    font-family:Inter;
    src: url(C:\Users\Administrator\vite-project1\src\assets\fonts\static\Inter-ExtraBold.ttf)
}
@font-face{
    font-family:Inter;
    src: url(C:\Users\Administrator\vite-project1\src\assets\fonts\static\Inter-Regular.ttf)
}

@font-face{
    font-family: Inter;
    src: url(C:\Users\Administrator\vite-project1\src\assets\fonts\Inter-VariableFont_slnt,wght.ttf)
}
